
Include/Commands/__pycache__/schedule.cpython-38.pyc
*.pyc
*.pyc
*.pyc
Include/Commands/__pycache__/diceroll.cpython-38.pyc
Include/Commands/__pycache__/diceroll.cpython-38.pyc
Include/Commands/__pycache__/how_week.cpython-38.pyc
*.pyc
/Include/__pycache__
/Include/Commands/__pycache__
/Include/__pycache__/*.pyc
/Include/Commands/__pycache__/*.pyc
/.idea/bot_for_vk.iml
/.idea/*.xml
/.idea/*.xml
/.idea/*.xml
/.idea/inspectionProfiles/*.xml
/.idea/inspectionProfiles
/.idea
.idea
